body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #757575;
  background: -webkit-radial-gradient(center, #757575, #FFFFFF);
  background: -moz-radial-gradient(center, #757575, #FFFFFF);
  background: radial-gradient(ellipse at center, #757575, #FFFFFF);
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 700px;
  margin-bottom: 32px;
}

.p-score, .c-score, .results {
  font-size: 32px;
}

.c-score {
  margin-bottom: 32px;
}

button {
  height: 100px;
  width: 150px;
  border-radius: 16px;
  background-color: rgb(100, 100, 100);
  color: white;
  transition: 0.15s ease-in-out;
  font-weight: bold;
  font-size: 16px;
  border: 3px solid rgb(59, 59, 59);
  box-shadow: 12px 12px 24px black;
}

button:hover {
  background-color: rgb(184, 184, 184);
  color: rgb(100, 100, 100);
  transform: scale(1.15);
}